@use "index.scss" as Componentes;

  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
  }

  a[href] {
    /* Restablecer los estilos predeterminados */
    text-decoration: none; /* Quitar subrayado */
    color: inherit; /* Heredar el color del texto del contenedor padre */
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    padding: 0; /* Sin relleno */
    margin: 0; /* Sin margen */
    font-size: inherit; /* Heredar el tamaño de fuente del contenedor padre */
    font-family: inherit; /* Heredar la familia de fuente del contenedor padre */
    cursor: pointer; /* Cambiar el cursor al puntero para indicar que es interactivo */
  }
  

  .home {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }

  .background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/14-Proyecto/Fama-Images/Backgrounds/Home-principal.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: 1;
  }

  #logo {
    display: flex;
    height: 200px;
    width: 200px;
    background-color:none;
    position: fixed;
  }

  .main-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 3;
  }

  .list-nav-bar{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    top:25%;
    left:-5%;
    z-index: 3;
    position: fixed;
    margin-left:1200px;
    margin-top:-175px;
  }

  .list-nav-bar li {
    margin-left: 60px;
    text-decoration: none;
  }


.list-nav-bar li a{
    display: block;
    border-radius: 10px;
    color:white;
    padding: 10px 20px;
    height: 60px;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
}

.list-nav-bar li a:hover
{

    transition: all 0.4s;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.5) 100%);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
    height: 65px;
}

/* ... Tus estilos CSS existentes ... */

.container-nav-bar {
  width: 100%;
  background-color: transparent;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* Agrega aquí otros estilos para el contenedor */
  margin-bottom: 20px; /* Añade un margen inferior para evitar que el contenido se solape */
}

.list-nav-bar.scrolled {
  background-color: #333; /* Cambia este color al que desees */
  /* Agrega aquí otros estilos para el contenedor cuando se hace scroll */
}

.sidebar {
  position: fixed;
  top: 25%;
  left: 20px;
  padding: 10px;
  z-index:3;
}

  
  

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 30px;
}

.social-links li {
  margin-bottom: 15px;
  
  
}

.social-links li a {
  display: block;
  color: white;
  text-decoration: none;
  position:relative;
  
}

.social-links li a i {
  font-size: 60px;
  opacity:0.6;
  transition: opacity 0.4s;
  
}

.social-links li a i:hover  {
  opacity:1;
  
}

.main-title{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top:450px;
}

.social-links li a::after {
  content: attr(data-title); /* Mostrar el contenido del atributo "data-title" como el texto del tooltip */
  position: absolute; /* Establecer posición absoluta para los tooltips */
  bottom:30px; /* Ajustar la posición vertical del tooltip */
  left: 200%; /* Ajustar la posición horizontal del tooltip */
  transform: translateX(-50%); /* Centrar horizontalmente el tooltip */
  background-color: rgb(153,153,153); /* Color de fondo del tooltip */
  color: white; /* Color del texto del tooltip */
  padding: 5px 10px; /* Espaciado interno del tooltip */
  border-radius: 5px; /* Radio de borde para el tooltip */
  font-size: 15px; /* Tamaño de fuente del tooltip */
  opacity: 0; /* Establecer la opacidad inicial en 0 para ocultar el tooltip */
  transition: opacity 0.4s ease-in-out; /* Agregar transición para la opacidad */
  pointer-events: none; /* Evitar que el tooltip afecte a los eventos del enlace */
}

.social-links li a:hover::after {
  opacity: 1; /* Mostrar el tooltip al hacer hover en el enlace */
}


/* MUSIC SECTION STYLES*/

.music-title{
  display: flex;
  color: white;
  padding:0;
  margin-top:70px;
  margin-left:150px;
  text-transform: uppercase;
}

#container-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  margin-left:-150px;
}

.btn {

  margin-top:-55px;
  margin-bottom:30px;
  
}
/* Inicio botones fuera de las cartas*/
#spotify.btn.btn-success{
  display: flex;
  align-items: center;
  gap:15px;
  font-size: 30px;
  padding: 10px 20px;
  width: 200px;
  height: 50px;
}

#soundcloud.btn.btn-warning {  
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 30px;
  padding: 10px 10px;
  background-color: #FE5501;
  width: 300px;
  height: 50px;
  color:white;
  border-color:#FE5501;

}

.soundcloud-logo
{
  width: 150px;
  height: 100px;
}
/* fin botones fuera de las cartas*/

.card.custom-card {
  background-color: #f7f7f7;
  border: 2px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 340px;
  width: 340px;
  margin-top: 50px;

}

/* Estilos para el contenedor de botones y la cortina */
.custom-card {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
}

/* Mostrar los botones al hacer hover */
.custom-card:hover .overlay {
  opacity: 1;
}

.buttons-container {
  display: flex;
  flex-direction: column; /* Alinear verticalmente los botones */
  gap: 50px;
  margin-top:75px;
}

.custom-card .btn {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 10px 20px;
  width: 150px;
  height: 50px;
  border: 2px solid white; /* Agregar borde con línea blanca */
  background-color: transparent; /* Quitar fondo */
  color: white;
  font-weight: bold; /* Letra en negrita */
}

.custom-card .btn:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Cambiar fondo al hacer hover */
}

/* carousel styles*/


.video-title {
  display: flex;
  color: white;
  padding: 0;
  margin-top: 70px;
  margin-left: 150px;
  text-transform: uppercase;
}

.carousel-container{
  margin: 100px 100px;

}

.carousel-inner{
  width:60%;
  margin-left:400px;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  padding-bottom: 56.25%; /* Aspect ratio de 16:9 (altura / ancho) */
  position: relative;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;;
}

  .carousel-control-next,.carousel-control-prev{
width: 20%;
}

/// Biografia///

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.bio .container-text {
  flex: 1;
  text-align: justify;
  padding: 10px;
  line-height: 1.5;
  color:whitesmoke;
  font-size:1.5rem;
  opacity: 0.8;
  max-width: 800px;
  height: auto;
}

.bio .image-container {
  flex: 1;
  text-align: center;
}

.bio img {
  max-width:100%;
  height: auto;
  opacity: 0.5;
}


.text::first-letter{
  font-size:3.5rem;
  font-weight: bold;
  color:whitesmoke
}





